.animate-enter {
  opacity: 0;
}

.animate-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.animate-exit {
  opacity: 1;
}

.animate-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in;
}

.add-button {
  margin: 10px 0;
  color: #fff;
  background-color: #ff8303;
  padding: 10px 20px;
}

.remove-icon {
  margin: 10px 0;
  color: #fff;
  background-color: red;
  padding: 3px 6px;
}
