* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Roboto Flex', sans-serif;
}

a {
  text-decoration: none;
}

#header {
  display: flex;
  height: 200px;
}

.login {
  display: flex;
}

#nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  padding: 0px 4px 0px 20px;
  height: 48px;
  position: relative;
}

#nav__left {
  display: flex;
  align-items: center;
}

#nav__title,
#nav__links {
  padding-top: 6px;
  padding-bottom: 6px;
}

#nav__links {
  margin-left: 20px;
  display: flex;
  justify-content: space-between;
  width: 300px;
}

#nav__login {
  display: flex;
  height: 48px;
  align-items: center;
}

#nav__login__label {
  margin-right: 20px;
}

#nav__login > form {
  height: 32px;
  margin: 4px 0px 4px 0px;
}

#nav__login > form > input[type='text'] {
  height: 32px;
}

#login-form {
  height: 100%;
}

.login-logout-button {
  height: 32px;
}

#portal-div {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 400px;
  margin-right: 40px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
}

#portal-div > p {
  animation-duration: 0.2s;
  animation-name: enter-notif;
  padding: 10px 20px;
  border-radius: 3px;
  background-color: rgba(96, 199, 224, 0.466);
  margin-top: 10px;
  width: fit-content;
  align-self: flex-end;
}

@keyframes enter-notif {
  0% {
    transform: translateX(300px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
